@font-face {
    font-family: 'MEregular';
    src: url('../src/assets/fonts/MonumentExtended/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'MEbold';
    src: url('../src/assets/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf');
}